@import "../variables/variables";

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  color: white !important;
  font-size: 14px;
  display: contents;

  @media (min-width: 320px) {
    $map: (320: 14px,
        576px: 14px,
      );
    font-size: linear-interpolation($map);
  }

  @media (min-width: 576px) {
    $map: (576px: 14px,
        768px: 1.2rem,
      );
    font-size: linear-interpolation($map);
  }

  @media (min-width: 768px) {
    $map: (768px: 1.2rem,
        992px: 1.4rem,
      );
    font-size: linear-interpolation($map);
  }

  @media (min-width: 992px) {
    font-size: 1.2rem;
  }
}

.nav-link {
  color: white !important;
  font-family: 'Poppins', sans-serif;
}

.login-icon {
  color: white !important;
  margin-right: 10px;
}

.logo-img {
  height: 45px;
  margin-right: 10px;

  @media (max-width: 767.98px) {
    height: 30px;
    margin-right: 5px;
  }
}

.navbar-toggler {
  padding: 0;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: none;
  border-radius: .25rem;

  :focus {
    outline: none !important;
  }
}

nav {
  button:focus {
    outline: none !important;

  }
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-menu'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E");
}

.bg-dark {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

// .dropdown {
//   &:hover {
//     .dropdown-menu {
//       display: block !important;
//       margin-top: 0 !important; // remove the gap so it doesn't close
//     }
//   }
// }