.section-heading {
  p {
    line-height: 1.7;
    margin-bottom: 15px;
    color: #343a40;
    font-weight: 300;
    font-size: 15px;
    font-family: $font-popins;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
}