.service-section {
  background-color: #f1f1f1;

  p {
    font-family: 'Poppins', sans-serif;
    color: #6c757d;
    font-size: 13px;
    margin-top: 15px;

  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
}