.image {
  position: relative;

  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    vertical-align: top;
  }
}

.slider-carousel {

  .slider-content {
    max-width: 500px;
    position: absolute;
    top: 50%;
    color: $white;
    transform: translateY(-50%);
  }

  .leftbanner {
    left: 15%;
    @extend .slider-content;
  }

  .rightbanner {
    @extend .slider-content;
    right: 15%;
  }
}

.image::after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  // background-image: linear-gradient(135deg, #f977949e 10%, #623aa200 100%);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  opacity: 1;
}

.image-black {
  @extend .image;
}

.image-black::after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  opacity: 1;
}

.carousel-indicators {
  display: none;
}

.slider-image {
  height: 100vh;
}