.circle-rotate {
  img {
    -webkit-animation-name: rotateMe;
    animation-name: rotateMe;
    -webkit-animation-duration: 35s;
    animation-duration: 35s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  right: 0;
  margin: 0 auto;

  @media (max-width: 767.98px) {
    .circle-img {
      display: none;
    }
  }
}

@keyframes rotateMe {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}

.why-us-img {
  position: relative;
  z-index: 11;
}

.bar {
  height: 5px;
  width: 90px;
  background: #79f1a457;
  margin: 20px 0 25px;
  position: relative;
  border-radius: 30px;

}

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #79F1A4;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG;
  animation-name: MOVE-BG;
}

@-webkit-keyframes MOVE-BG {
  0% {
    transform: translateX(0)
  }

  to {
    transform: translateX(88px)
  }
}

@keyframes MOVE-BG {
  0% {
    transform: translateX(0)
  }

  to {
    transform: translateX(88px)
  }
}

.why-us-key-points {
  margin: 40px 0 0 0;
  padding: 0;

  li {
    list-style: none;
    padding-bottom: 20px;

    .div:hover {
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    }



    .div {
      display: flex;
      padding: 10px;
      background-color: #f1f1f14f;
      border-radius: 10px;


      p {
        margin-bottom: 0;
        line-height: 1.5;
      }
    }

    img {
      height: 60px;
      margin-right: 30px;
    }


  }
}